<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Control</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <h1>Panel de Administrador</h1>
    </header>

    <div class="container-fluid">
        <div class="row">
          <%-include('nav')-%>
        <main class="col-md-10 p-4">
            <%- include('dashboarGeneral') -%>

            <h2>Listado de Apartamentos</h2>
            <div class="containerTable">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>piso</th>
                        <th>edificio</th>
                        <th>apartamento</th>
                        <th>Usuario</th>
                        <th>status</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="usuarioTableBody">
                    <!-- Los usuarios se agregarán dinámicamente aquí -->
                    <% apartamentOs.forEach(apartamento=>{ %>
                    <tr>
                        <td><%=apartamento.id%></td>
                        <td><%=apartamento.piso%></td>
                        <td><%=apartamento.edificio%></td>
                        <td><%=apartamento.apartamento%></td>
                        <td><%=apartamento.usuarioId%></td>
                        <td><%=apartamento.status%></td>
                    
                        <td>
                             <a href="/updateUsuarioGet/<%=apartamento.id%>/apartamentos"><img class="imgOpcion" src="/icon/arrow.png" alt=""></a>

                              <a href="/deleteUsuario/<%=apartamento.id%>/apartamentos">
                                <img class="imgOpcion" src="/icon/trash.png" alt=""></a>
                        </td>
                    </tr>
                    <% }); %>
                </td>
            </tr>

        </tbody>
    </table>
    </div>
    <!-- Formulario para Agregar Usuario -->
    <h2>Agregar Apartamento</h2>

    <div class="card mb-3" id="reporte">
        <form action="/crearApartamentoPost" method="POST">
            <div class="inputD">
                <label for="piso">Piso</label>
                <input type="text" id="piso" name="piso" required placeholder="Ingrese piso">
            </div>
            <div class="inputD">
                <label for="edificio"><E>Edificio</E></label>
                <input type="text" id="edificio" name="edificio" required placeholder="Ingrese Edificio">
            </div>
            <div class="inputD">
                <label for="apartamento">Apartamento</label>
                <input type="text" id="apartamento" name="apartamento" required placeholder="Ingrese Apartamento">
            </div>
             <div class="inputD">
                <label>Usuario</label>
                <select name="usuarioId" id="usuarioId">
                    <% users.forEach(user=>{ %>
                    <option value="<%=user.id%>"><%=user.email%></option>
                    <% }); %>
                </select>
            </div>
            <button class="btn btn-primary">Agregar Apartamento</button>
        </form>
    </div>
</main>
</div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
<script src="js/panel.js"></script>
<script src="js/usuarios.js"></script>
</body>
</html>
