	<%-include('./template/header.ejs')%>
	<title>Gestion de Usuarios</title>
	<link rel="stylesheet" href="./Css/body.css">
	<link rel="stylesheet" href="./Css/gestionPagos.css">
	<link rel="stylesheet" href="./Css/liBox.css">
</head>
<body>

	<section class="imgBox__img">
		<img class="img" src="./Png/edificionWhite.png" alt="">
	</section>
	<%-include('./template/options.ejs')%>
	<section class="consultaBox">
		<div class="imgBox">
			<img class="img_1" src="./Png/viejitos.avif" alt="">
		</div>
		<div class="datoSaldoBox">

			<h1 class="titulo">Pagos</h1>

			<div class="saldoBox">
				<span>
					<p>Pendiente</p>:
					<b><%=data.deudaPendiente%> Bs</b>
				</span>
				<span>
					<p>Actual</p>:
					<b><%=data.deudaActual%> Bs</b>
				</span>
				<span>
					<p>Total</p>:
					<b><%= data.deudaPendiente + data.deudaActual%> Bs</b>
				</span>
			</div>

			<div class="navBox">
				<button>Factura Siguiente</button>

				<a title='Descargar ultima factura' href="/descargarPDF/<%=f.id%>">
				<img width="50" class="imgOpcion" src="/icon/download-pdf.png" alt="">
			    </a>

					<button>Factura Anterior</button>
				</div>
				<button id='pagar' style='cursor:pointer'>Pagar Factura</button>
			</div>
		</section>
		<script>
			const pagar = document.getElementById('pagar');
			pagar.addEventListener('click',()=>{
				window.location.href='/pagar';
			});
		</script>
		<script src="/Js/menu.js"></script>
	</body>
	</html>