	<%-include('./template/header.ejs')%>
	<title>Perfil de Usuarios</title>
	<link rel="stylesheet" href="./Css/body.css">
	<link rel="stylesheet" href="./Css/perfilUsuario.css">
	<link rel="stylesheet" href="./Css/liBox.css">
</head>
<body>
	<%-include('./template/options.ejs')%>
	<section class="perfilUsuario">
		<div class="usuario">
			<div class="userimgBox">
				<img src="<%=us.imgPerfil%>" style='border-radius:50%;' alt="">
			</div>

		</div>

		<form class="datosUsuarioBox">

			<h1>Datos Personales</h1>
			<div class="inputBox">
			    <i class="fa-solid fa-user"></i>
				<p><%=us.nombre%></p>
				<i class="fa-solid fa-check"></i>
			</div>
			<div class="inputBox seg">
				<i class="fa-solid fa-envelope"></i>
				<p><%=us.email%></p>
				<i class="fa-solid fa-check"></i>
			</div>
			<div class="inputBox seg">
				<i class="fa-solid fa-mobile"></i>
				<p><%=us.telefono%></p>
				<i class="fa-solid fa-check"></i>
			</div>
			<div >
				
				<input data-id='<%=us.id%>' id='password' class="inputBox seg" type="text" value="   <%=us.password%>">
				
			</div>
		</form>


		<div class="infonrmacionBox">
			<div class="informacio">
				<h2>!Importante¡</h2>
				<span>Si tienes algun inconveniente no dude en comunitarte con el administrador!</span>
				<p>Condominio Ejecutivo II</p>
				<button style='cursor:pointer;' class="enviar">Guardar Datos</button>
			</div>
			<div class="linkGrupoBox"><a href="#">Link Grupo</a></div>
		</div>
	</section>
	<div class="Sugerencias">
		<p>Tienes Alguna Sugerencia? ve 
			<a href="/sugerencias">BUSON DE SUGERENCIAS</a>
		</p>
	</div>
	<script src="/Js/menu.js"></script>
	<script>
		const enviar = document.querySelector('.enviar');
		enviar.addEventListener('click',()=>{
        const password = document.getElementById('password');
        const id = password.dataset.id;
        const p = password.value;
        fetch('/restartPasswordPerfil',{
        	method:'post',
        	headers:{
        		"Content-Type":"application/json"
        	},
        	body:JSON.stringify({id,p})
        })
        .then(res=>res.json())
        .then(res=>{
        	if(res.status){
             Swal.fire('¡Contraseña cambiada con exito!');
        	}else{
        		Swal.fire('ERROR AL CAMBIAR CONTRASEÑA , INTENTE MAS TARDE');
        	}
        })
		});

	</script>
</body>
</html>