	<%-include('./template/header.ejs')%>
	<title>Perfil de Usuarios</title>
	<link rel="stylesheet" href="./Css/body.css">
	<link rel="stylesheet" href="./Css/perfilUsuario.css">
	<link rel="stylesheet" href="./Css/liBox.css">
</head>
<body>
	<%-include('./template/options.ejs')%>
	<section class="perfilUsuario">
		<div class="usuario">
			<div class="userimgBox">
				<img src="<%=us.imgPerfil%>" style='border-radius:50%;' alt="">
			</div>

		</div>
		<div class="datosUsuarioBox">
			<h1>Datos Personales</h1>
			<div class="inputBox">
			    <i class="fa-solid fa-user"></i>
				<p><%=us.nombre%></p>
				<i class="fa-solid fa-check"></i>
			</div>
			<div class="inputBox seg">
				<i class="fa-solid fa-envelope"></i>
				<p><%=us.email%></p>
				<i class="fa-solid fa-check"></i>
			</div>
			<div class="inputBox seg">
				<i class="fa-solid fa-mobile"></i>
				<p><%=us.telefono%></p>
				<i class="fa-solid fa-check"></i>
			</div>
			<div class="inputBox seg">
				<i class="fa-solid fa-lock"></i>
				<p><%=us.password%></p>
				<i class="fa-solid fa-check"></i>
			</div>
		</div>
		<div class="infonrmacionBox">
			<div class="informacio">
				<h2>!Importante¡</h2>
				<span>Si tienes algun inconveniente no dude en comunitarte con el administrador!</span>
				<p>Condominio Ejecutivo II</p>
				<button>Guardar Datos</button>
			</div>
			<div class="linkGrupoBox"><a href="#">Link Grupo</a></div>
		</div>
	</section>
	<div class="Sugerencias">
		<p>Tienes Alguna Sugerencia? ve 
			<a href="/sugerencias">BUSON DE SUGERENCIAS</a>
		</p>
	</div>
	<script src="/Js/menu.js"></script>
</body>
</html>