<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Control</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <h1>Panel de Administrador</h1>
    </header>

    <div class="container-fluid">
        <div class="row">
          <%-include('nav')-%>
          <main class="col-md-10 p-4">
            <%- include('dashboarGeneral') -%>

            <h2>Listado de Reportes</h2>
            <div class="containerTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>nombre</th>
                            <th>apartamentoId</th>
                            <th>telefono</th>
                            <th>motivos</th>
                            <th>descripcion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="usuarioTableBody">
                        <!-- Los usuarios se agregarán dinámicamente aquí -->
                        <% repoRtes.forEach(reporte=>{ %>
                        <tr>
                            <td><%=reporte.id%></td>
                            <td><%=reporte.nombre%></td>
                            <td><%=reporte.apartamentoId%></td>
                            <td><%=reporte.telefono%></td>
                            <td><%=reporte.motivos%></td>
                            <td><%=reporte.descripcion%></td>
                            <td>
                               <a href="/updateUsuarioGet/<%=reporte.id%>/reportes"><img class="imgOpcion" src="/icon/arrow.png" alt=""></a>

                               <a href="/deleteUsuario/<%=reporte.id%>/reportes">
                                <img class="imgOpcion" src="/icon/trash.png" alt=""></a>
                            </td>
                        </tr>
                        <% }); %>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- Formulario para Agregar Usuario -->
    <h2>Agregar Reporte</h2>

    <div class="card mb-3" id="reporte">
        <form action="/crearReporte/admin" method="POST">
            <div class="inputD">
                <label for="nombre">nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese Nombre">
            </div>

            <div class="inputD">
                <label for="apartamentoId">apartamentoId</label>
                <select name="apartamentoId" id="apartamentoId">
                    <% apartamentOs.forEach(apartamento=>{ %>
                    <option value="<%=apartamento.id%>"><%=apartamento.apartamento%></option>
                    <% }); %>
                </select>
            </div>

            <div class="inputD">
                <label for="telefono">telefono</label>
                <input type="number" id="telefono" name="telefono">
            </div>

            <div>
                <label for="motivos">motivos</label>
                <input type="text" placeholder="Ingrese Motivo" name="motivos" id="motivos" required> 
            </div>

            <div>
                <label for="descripcion">descripcion</label>
                <input type="text" placeholder="Ingrese descripcion" name="descripcion" id="descripcion" required> 
            </div>

            <button class="btn btn-primary">Agregar Reporte</button>
        </form>
    </div>
</main>
</div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
<script src="js/panel.js"></script>
<script src="js/usuarios.js"></script>
</body>
</html>
